<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/images/점심.PNG" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>레이아웃이다</h1>
    {{{body}}}
  </body>
</html>